*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    z-index: 1;
}

.identificador{
    background-color: #30343F;
    padding: 20px;
}

h1{
    color: white;
}

.inicio, .teste1, .teste2{
    position: absolute;
    text-decoration: none;
    color: white;
    right: 25%;
    top: 2%;
    font-size: 30px;
}

.teste1{
    right: 15%;
}

.teste2{
    right: 5%;
}

.div1, .div2{
    position: absolute;
    text-decoration: none;
    color: #89023E;
    right: 22%;
    top: 2%;
    font-size: 35px;
}

.div2{
    right: 12%;
}

.n22{
    color: #89023E;
}

/* .imagecontrol{
    position: absolute;
    width: 300px;
    z-index: 2;
    top: 400px;
    right: 130px;
} */

 .explicacao{
    font-size: 19px;
    position: absolute;
    color: white;
    max-width: 35%;
    left: 30%;
    top: 30%;
    z-index: 4;
 }

.computer{
    position: absolute;
    width: 850px;
    display: block;
    margin: 50%;
    margin: auto;
    margin-top: -50px;
    z-index: 2;
    left: 25%;
}

.title{
    font-family: 'Syncopate', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}


.colorgreen{
    color: #70e000;
}

.colorred{
    color: #89023E;
}

.seta{
    position: absolute;
    width: 130px;
    z-index: 3;
    left: 65%;
    top: 66%;
    transform: rotate(-15deg);
}

.text-mario{
    position: absolute;
    color: white;
    background-color: #30343F;
    max-width: 25%;
    margin-top: 800px;
    text-align: right;
    left: 60%;
    padding: 20px;
    border-radius: 5px;
    font-size: 21px;
    border: #70e000 3px dashed;
}


 .canoverde{
    position: absolute;
    width: 170px;
    margin-top: 1297px;
    margin-left: 20%;
    z-index: 4;
} 
.mario{
    position: absolute;
    margin-top: 1070px;
    margin-left: 170px;
    width: 150px;
    transform: rotate(-12deg);
    z-index: 5;
}

.banzai{
    position: absolute;
    z-index: 6;
    margin-top: 850px;
    margin-left: 40%;
    width: 200px;
}

.mariobros{
    font-family: chlorip;
}

.logomario{
    position: absolute;
    width: 550px;
    margin-top: 750px;
    margin-left: 110px;
    transform: rotate(-10deg);
}


